body {
  background-color: Thistle;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p1 {
  color: Snow;
  font-family: "courier new", monospace;
}

h1 {
      color: Snow;
      text-align:center;
      border-style:double;
      border-color: Snow;
      font-family: "courier new", monospace;
}

h2 {
      color: Snow;
      text-align:center;
      border-style:double;
      border-color: Snow;
      font-family: "courier new", monospace;
}

p {
  color: Snow;
}
