body {
  background-color: Thistle;
}

h1 {
      color: Snow;
      text-align:center;
      border-style:double;
      border-color: Snow;
}

p1 {
      color: Snow;
      width: 100px;
      border: 10px solid Snow;
      padding: 100px;
      margin: 25px;
      background-image: url(edinburgh.jpg);
      background-size: 400px 300px
}
